In [1]:
import pandas as pd
import os
import numpy as np
import pandas_profiling

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt
# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns
sns.set(style="whitegrid") # can set style depending on how you'd like it to look

import folium  #needed for interactive map
from folium.plugins import HeatMap

import geopandas
from shapely.geometry import Polygon
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [2]:
path = 'DataSet/Original' 
file = 'uber_trips_2015.csv'

uber_trips = pd.read_csv(path + '/' + file, sep = ',', doublequote = True)

In [3]:
uber_trips.head()

       pickup_datetime  pickup_location_id dispatch_base affiliate_base
0  2015-05-17 09:47:00                 141        B02617         B02617
1  2015-05-17 09:47:00                  65        B02617         B02617
2  2015-05-17 09:47:00                 100        B02617         B02617
3  2015-05-17 09:47:00                  80        B02617         B02774
4  2015-05-17 09:47:00                  90        B02617         B02617

In [4]:
uber_trips['pickup_datetime'] = pd.to_datetime(uber_trips['pickup_datetime'])

In [5]:
print(uber_trips['pickup_datetime'].min())
print(uber_trips['pickup_datetime'].max())

2015-01-01 00:00:05
2015-06-30 23:59:00

In [6]:
uber_trips.describe()

       pickup_location_id
count        1.427048e+07
mean         1.520574e+02
std          7.159620e+01
min          1.000000e+00
25%          9.200000e+01
50%          1.570000e+02
75%          2.300000e+02
max          2.650000e+02

In [7]:
uber_trips.isna().sum()

pickup_datetime            0
pickup_location_id         0
dispatch_base              0
affiliate_base        162195
dtype: int64

In [8]:
uber_trips['pickup_month'] = uber_trips['pickup_datetime'].dt.year*100 + uber_trips['pickup_datetime'].dt.month

In [8]:
#green_trips.profile_report()

In [9]:
path = 'DataSet/Parquets' 
uber_trips.to_parquet(path + '/uber2015_trips_filtered.parquet', engine = 'pyarrow')