In [2]:
import pandas as pd
import os
import numpy as np
import pandas_profiling

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt
# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns
sns.set(style="whitegrid") # can set style depending on how you'd like it to look

import folium  #needed for interactive map
from folium.plugins import HeatMap

import geopandas
from shapely.geometry import Polygon
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [3]:
path = 'DataSet/Original' 
file = 'uber_trips_2014.csv'

uber_trips = pd.read_csv(path + '/' + file, sep = ',', doublequote = True)

In [4]:
uber_trips.head()

  pickup_datetime  pickup_latitude  pickup_longitude    base
0     4/1/14 0:11          40.7690          -73.9549  B02512
1     4/1/14 0:17          40.7267          -74.0345  B02512
2     4/1/14 0:21          40.7316          -73.9873  B02512
3     4/1/14 0:28          40.7588          -73.9776  B02512
4     4/1/14 0:33          40.7594          -73.9722  B02512

In [7]:
uber_trips['pickup_datetime'] = pd.to_datetime(uber_trips['pickup_datetime'])

In [10]:
uber_trips.describe()

       pickup_latitude  pickup_longitude
count     4.534327e+06      4.534327e+06
mean      4.073926e+01     -7.397302e+01
std       3.994991e-02      5.726670e-02
min       3.965690e+01     -7.492900e+01
25%       4.072110e+01     -7.399650e+01
50%       4.074220e+01     -7.398340e+01
75%       4.076100e+01     -7.396530e+01
max       4.211660e+01     -7.206660e+01

In [11]:
uber_trips.isna().sum()

pickup_datetime     0
pickup_latitude     0
pickup_longitude    0
base                0
dtype: int64

In [12]:
uber_trips['pickup_month'] = uber_trips['pickup_datetime'].dt.year*100 + uber_trips['pickup_datetime'].dt.month

In [8]:
#green_trips.profile_report()

In [13]:
uber_trips[uber_trips['pickup_latitude'] == 0].count()

pickup_datetime     0
pickup_latitude     0
pickup_longitude    0
base                0
pickup_month        0
dtype: int64

In [14]:
uber_trips[uber_trips['pickup_longitude'] == 0].count()

pickup_datetime     0
pickup_latitude     0
pickup_longitude    0
base                0
pickup_month        0
dtype: int64

In [16]:
path = 'DataSet/Parquets' 
uber_trips.to_parquet(path + '/uber2014_trips_filtered.parquet', engine = 'pyarrow')