In [1]:
import pandas as pd
import os
import numpy as np
import pandas_profiling

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns
sns.set(style="whitegrid") # can set style depending on how you'd like it to look

import folium  #needed for interactive map
from folium.plugins import HeatMap

import geopandas
from shapely.geometry import Polygon
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [3]:
path = 'C:/Users/johns/Documents/DS4A_workspace/Datathon/DataSet'
file = 'zones.csv'

zones = pd.read_csv(path + '/' + file, sep = ',', doublequote = True)

In [4]:
zones.head()

   location_id        borough                     zone service_zone nta_code
0            1            EWR           Newark Airport          EWR     NJ01
1            2         Queens              Jamaica Bay    Boro Zone     QN61
2            3          Bronx  Allerton/Pelham Gardens    Boro Zone     BX31
3            4      Manhattan            Alphabet City  Yellow Zone     MN22
4            5  Staten Island            Arden Heights    Boro Zone     SI48

In [5]:
zones.nta_code.value_counts()

MN25    6
MN17    6
MN13    5
MN99    5
MN23    4
       ..
QN27    1
QN72    1
QN52    1
BK19    1
MN06    1
Name: nta_code, Length: 191, dtype: int64

In [6]:
zones.service_zone.value_counts()

Boro Zone      205
Yellow Zone     55
Airports         2
EWR              1
Name: service_zone, dtype: int64

In [7]:
zones.borough.value_counts()

Queens           69
Manhattan        69
Brooklyn         61
Bronx            43
Staten Island    20
EWR               1
Name: borough, dtype: int64