In [4]:
import pandas as pd
import os
import numpy as np
import pandas_profiling

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns
sns.set(style="whitegrid") # can set style depending on how you'd like it to look

import folium  #needed for interactive map
from folium.plugins import HeatMap

import geopandas
from shapely.geometry import Polygon
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [5]:
path = 'C:/Users/johns/Documents/DS4A_workspace/Datathon/DataSet'
green_trips = pd.read_parquet(path + '/Parquet/green_trips_filtered.parquet', engine = 'pyarrow')

In [6]:
path = 'C:/Users/johns/Documents/DS4A_workspace/Datathon/DataSet'
yellow_trips = pd.read_parquet(path + '/Parquet/yellow_trips_filtered.parquet', engine = 'pyarrow')

In [7]:
path = 'C:/Users/johns/Documents/DS4A_workspace/Datathon/DataSet'
mta_trips = pd.read_parquet(path + '/Parquet/mta_trips_filtered.parquet', engine = 'pyarrow')

In [28]:
green_trips['pickup_date'] = pd.to_datetime(green_trips['pickup_datetime']).dt.date
green_trips['pickup_hour'] = pd.to_datetime(green_trips['pickup_datetime']).dt.hour
green_trips_date = green_trips.groupby(['pickup_date', 'pickup_hour'])['passenger_count'].count().reset_index(name = 'trips')
green_trips_date['pickup_date'] = pd.to_datetime(green_trips_date['pickup_date'], format = '%Y-%m-%d')
green_trips_date.head()

  pickup_date  pickup_hour  trips
0  2014-04-01            0    209
1  2014-04-01            1    137
2  2014-04-01            2     82
3  2014-04-01            3     48
4  2014-04-01            4     79

In [29]:
yellow_trips['pickup_date'] = pd.to_datetime(yellow_trips['pickup_datetime']).dt.date
yellow_trips['pickup_hour'] = pd.to_datetime(yellow_trips['pickup_datetime']).dt.hour
yellow_trips_date = yellow_trips.groupby(['pickup_date', 'pickup_hour'])['passenger_count'].count().reset_index(name = 'trips')
yellow_trips_date['pickup_date'] = pd.to_datetime(yellow_trips_date['pickup_date'], format = '%Y-%m-%d')
yellow_trips_date.head()

  pickup_date  pickup_hour  trips
0  2014-04-01            0    546
1  2014-04-01            1    280
2  2014-04-01            2    192
3  2014-04-01            3    111
4  2014-04-01            4    141

In [31]:
mta_trips['date'] = pd.to_datetime(mta_trips['datetime']).dt.date
mta_trips['hour'] = pd.to_datetime(mta_trips['datetime']).dt.hour
mta_trips_date = mta_trips.groupby(['date', 'hour'])['new_entries'].count().reset_index(name = 'trips')
mta_trips_date['new_entries'] = mta_trips.groupby(['date', 'hour'])['new_entries'].transform(sum)#['new_entries']
mta_trips_date['new_exits'] = mta_trips.groupby(['date', 'hour'])['new_exits'].transform(sum)#['new_exits']
mta_trips_date['date'] = pd.to_datetime(mta_trips_date['date'], format = '%Y-%m-%d')

In [17]:
mta_trips_date.head()

         date  hour  trips  new_entries  new_exits
0  2014-03-29   0.0      9      37179.0    34758.0
1  2014-03-29   1.0     27     124228.0    78023.0
2  2014-03-29   2.0     20     231348.0   181239.0
3  2014-03-29   3.0     11     308449.0   229925.0
4  2014-03-29   4.0   1877     248805.0   207193.0

In [25]:
green_trips_date.dtypes

pickup_date    object
pickup_hour     int64
trips           int64
dtype: object

In [32]:
path = 'C:/Users/johns/Documents/DS4A_workspace/Datathon/DataSet'
green_trips_date.to_parquet(path + '/Parquet/green_trips_date.parquet', engine = 'pyarrow')

In [33]:
path = 'C:/Users/johns/Documents/DS4A_workspace/Datathon/DataSet'
yellow_trips_date.to_parquet(path + '/Parquet/yellow_trips_date.parquet', engine = 'pyarrow')

In [34]:
path = 'C:/Users/johns/Documents/DS4A_workspace/Datathon/DataSet'
mta_trips_date.to_parquet(path + '/Parquet/mta_trips_date.parquet', engine = 'pyarrow')