In [1]:
import pandas as pd
import os
import numpy as np
import pandas_profiling

# This line is needed to display plots inline in Jupyter Notebook
%matplotlib inline

# Required for basic python plotting functionality
import matplotlib.pyplot as plt

# Required for formatting dates later in the case
import datetime
import matplotlib.dates as mdates

# Required to display image inline
from IPython.display import Image

# Advanced plotting functionality with seaborn
import seaborn as sns
sns.set(style="whitegrid") # can set style depending on how you'd like it to look

import folium  #needed for interactive map
from folium.plugins import HeatMap

import geopandas
from shapely.geometry import Polygon
from shapely.geometry import Point
from geopandas import GeoDataFrame

In [2]:
path = 'DataSet/Parquets'
yellow_trips = pd.read_parquet(path + '/yellow_trips_filtered.parquet', engine = 'pyarrow')

In [3]:
yellow_trips['pickup_date'] = pd.to_datetime(yellow_trips['pickup_datetime']).dt.date
yellow_trips['pickup_hour'] = pd.to_datetime(yellow_trips['pickup_datetime']).dt.hour
yellow_trips_date = yellow_trips.groupby(['pickup_date', 'pickup_hour'])['passenger_count'].count().reset_index(name = 'trips')
yellow_trips_date['pickup_date'] = pd.to_datetime(yellow_trips_date['pickup_date'], format = '%Y-%m-%d')
yellow_trips_date.head()

  pickup_date  pickup_hour  trips
0  2014-04-01            0    546
1  2014-04-01            1    280
2  2014-04-01            2    192
3  2014-04-01            3    111
4  2014-04-01            4    141

In [4]:
path = 'DataSet/Parquets'
yellow_trips_date.to_parquet(path + '/yellow_trips_date.parquet', engine = 'pyarrow')